.wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: column;
}

.hr {
  width: 300px;
  border: 2px solid black;
  margin-bottom: 0;
}

.link_wrapper {
  margin-top: 8px;
}

.link {
  color: #640000;
}

.link:hover {
  color: #000;
}
