.soc_link {
  color: red;
}

.social_wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: column;
}

.hr {
  width: 200px;
  border: solid red;
}

.social_link_wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: column;
  margin-top: 10px;
  margin-bottom: 10px;
}
