/* Основний контейнер */
.container {
  width: 100%;
  max-width: 1200px; /* Максимальна ширина контейнера */
  margin: 0 auto; /* Центрування контейнера */
  padding: 20px;
  box-sizing: border-box;
}

/* Сітка для продуктів */
.productGrid {
  margin-top: 20px;
  display: grid;
  grid-template-columns: repeat(
    auto-fill,
    minmax(180px, 1fr)
  ); /* Гнучкі колонки */
  gap: 15px; /* Відступ між картками */
  justify-content: center;
}

/* Стилі для картки продукту */
.productCard {
  border: 1px solid red;
  padding: 10px;
  text-align: center;
  border-radius: 10px; /* Закруглені кути */
  transition: transform 0.2s ease-in-out;
}

.productCard:hover {
  transform: scale(1.05);
}

/* Стилі для зображення продукту */
.productImage {
  width: 100%;
  height: auto;
  max-height: 250px; /* Щоб зображення не було надто великим */
  object-fit: cover;
  border-radius: 10px;
  margin-bottom: 10px;
}

/* Стилі для тексту */
.productName {
  font-size: 1.2em;
  color: #000;
  margin-bottom: 5px;
}

.productPrice {
  font-size: 1em;
  color: red;
  margin-bottom: 10px;
}

/* Стилі для кнопки */
.orderButton {
  background-color: transparent;
  color: red;
  border: 1px solid red;
  padding: 8px 16px;
  cursor: pointer;
  font-size: 0.9em;
  border-radius: 5px;
  transition: all 0.3s ease-in-out;
}

.orderButton:hover {
  background-color: red;
  color: white;
}

.title {
  color: red;
  font-size: 24px;
  text-align: center;
  margin-bottom: 20px;
}

/* Адаптивність для мобільних */
@media (max-width: 768px) {
  .productGrid {
    grid-template-columns: repeat(
      auto-fill,
      minmax(150px, 1fr)
    ); /* Менші колонки */
    gap: 10px;
  }

  .productCard {
    padding: 8px;
  }

  .productImage {
    max-height: 200px;
  }

  .productName {
    font-size: 1em;
  }

  .productPrice {
    font-size: 0.9em;
  }

  .orderButton {
    font-size: 0.8em;
    padding: 6px 12px;
  }

  .title {
    font-size: 20px;
  }
}
