/* Store.module.css */
.store_wrapper {
  margin-top: 10px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.product_grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 15px;
  justify-content: flex-start;
}

.product_card {
  width: 260px;
  height: 330px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  border: 2px solid black;
  padding: 10px;
  text-align: left;
  overflow: hidden;
}

.product_image {
  width: 250px;
  height: 250px;
  object-fit: cover;
}

.product_info {
  width: 100%;
  text-align: left;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.product_name {
  font-size: 16px;
  font-weight: bold;
  color: rgb(100, 0, 0);
  margin: 5px 0;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  max-width: 100%;
}

.product_price {
  font-size: 14px;
  color: #000;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.order_button {
  width: 100px;
  background-color: red;
  color: white;
  border: none;
  padding: 8px 12px;
  cursor: pointer;
  font-size: 14px;
  margin-top: 5px;
  font-weight: bold;
}

.order_button:hover {
  background-color: #000;
  color: #fff;
}

.add_to_cart_button {
  width: 100%;
  background-color: green;
  color: white;
  border: none;
  padding: 8px 12px;
  cursor: pointer;
  font-size: 14px;
  margin-top: 5px;
  font-weight: bold;
}

.add_to_cart_button:hover {
  background-color: #000;
  color: #fff;
}

.button_wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
}

/* Cart.module.css */
.cart_button {
  background-color: red;
  color: white;
  padding: 10px 20px;
  cursor: pointer;
  font-size: 16px;
  border: none;
  position: fixed;
  top: 20px;
  right: 60px;
  z-index: 100;
  cursor: pointer;
}

.cart_button:hover {
  background-color: #000;
  color: #fff;
}

.cart_sidebar {
  position: fixed;
  top: 0;
  right: 0;
  width: 400px;
  height: 100%;
  background-color: #fff;
  border-left: 2px solid #ccc;
  box-shadow: -2px 0 5px rgba(0, 0, 0, 0.1);
  padding: 20px;
  z-index: 200;
  overflow-y: auto;
}

.cart_sidebar h2 {
  font-size: 20px;
  margin-bottom: 20px;
}

.close_button {
  position: absolute;
  top: 20px;
  right: 20px;
  font-size: 24px;
  cursor: pointer;
  color: #333;
}

.close_button:hover {
  color: red;
}

.cart_item_image {
  width: 50px;
  height: 50px;
  object-fit: cover;
  margin-right: 10px;
}

.decrement_button,
.increment_button {
  background: none;
  color: black;
  font-size: 16px;
  width: 30px;
  height: 30px;
  cursor: pointer;
  text-align: center;
  padding: 0;
  margin: 0;
  border: 0;
}

.decrement_button:hover {
  background-color: none;
}

.quantity_input {
  all: unset;
  width: 40px;
  height: 30px;
  text-align: center;
  font-size: 16px;
  margin: 0 5px;
}

.quantity_input::-webkit-outer-spin-button,
.quantity_input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.quantity_input[type="number"] {
  -moz-appearance: textfield;
}

.remove_button {
  background: none;
  color: black;
  font-size: 16px;
  padding: 0;
  margin-left: 5px;
  border: none;
  cursor: pointer;
  margin-left: 60px;
}

.remove_button:hover {
  background: none;
}

.total_amount {
  font-weight: bold;
  margin-top: 10px;
}

.cart_image_and_text {
  display: flex;
  align-items: center;
}

.cart_text {
  width: 100px;
}

.cart_functional {
  display: flex;
  align-items: center;
  margin-left: 20px;
  height: 50px;
}

.cart_item {
  display: flex;
  align-items: center;
  margin-left: 0;
  margin-top: 10px;
}

.cart_checkout_button {
  width: 100%;
  margin-top: 10px;
  height: 50px;
  background-color: red;
  border: 0;
  color: #fff;
  font-size: 16px;
  cursor: pointer;
}

.cart_checkout_button:hover {
  background-color: #000;
  color: #fff;
}
