.admin_wrapper {
  padding: 20px;
  max-width: 400px;

  display: flex;
  flex-direction: column;
}

.add_product_form {
  display: flex;
  flex-direction: column;
  gap: 10px;
  width: 100%; /* Ширина форми */
  max-width: 400px; /* Максимальна ширина форми */
}

.add_product_form input {
  all: unset;
  border: 2px solid black;
  width: 100%; /* Ширина інпутів */
  padding: 10px;
  border-radius: 0;
  box-sizing: border-box;
  font-size: 1rem;
}

.add_product_form button {
  padding: 10px;
  font-size: 16px;
  background-color: red;
  color: white;
  border: none;
  cursor: pointer;
  width: 100%; /* Ширина кнопки */
}

.add_product_form button:hover {
  background-color: #000;
}

.enter_password_input_text {
  margin-bottom: 10px;
}

.hr {
  width: 400px;
  border: 2px solid black;
  margin: 0;
}

.hr2 {
  width: 400px;
  border: 2px solid black;
  margin-bottom: 10px;
  margin-top: 0;
}

.admin_panel_inputs {
  all: unset;
  border: 2px solid black;
  width: 100%; /* Ширина інпутів */
  padding: 10px;
  border-radius: 0;
  box-sizing: border-box;
  font-size: 1rem;
  margin-top: 10px;
}

.login_button {
  padding: 10px;
  font-size: 16px;
  background-color: red;
  color: white;
  border: none;
  cursor: pointer;
  width: 100%; /* Ширина кнопки */
}

.login_button:hover {
  background-color: #000;
}

.product_list {
  margin-top: 20px;
}

.product_table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 10px;
}

.product_table th {
  border: 1px solid black;
  padding: 8px;
  text-align: left;
}

.product_image {
  width: 50px;
  height: 50px;
  object-fit: cover;
}

.edit_button {
  background-color: darkorange;
  color: white;
  border: none;
  padding: 5px;
  cursor: pointer;
  margin-right: 5px;
}

.delete_button {
  background-color: red;
  color: white;
  border: none;
  padding: 5px;
  cursor: pointer;
}

.product_list h2 {
  margin-bottom: 5px;
}

.buttons {
  width: 200px;
  border: 0;
  background-color: red;
  color: #fff;
  height: 30px;
  cursor: pointer;
  margin-top: 10px;
}

.buttons:hover {
  background-color: #000;
  color: #fff;
}

.name_td,
.price_td,
.img_td,
.button_td {
  border: 1px solid black;
  padding: 5px;
}

.prodcut_list_text {
  margin-top: 10px;
}

.admin_panel_text {
  margin-bottom: 10px;
}
