.photo {
  width: 850px; /* Ensure responsiveness */
  height: 300px;
  margin: auto;
}

.home_wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
}

.title {
  position: absolute;
  font-size: 72px;
  font-style: italic;
  font-weight: bold;
  color: red;
}
