.home_wrapper {
  display: flex;
  flex-direction: column; /* Залишаємо колонкове розташування */
  align-items: center;
  justify-content: flex-start; /* Замінили center на flex-start, щоб елементи не були в центрі */
  min-height: 100vh; /* Замінили height на min-height, щоб уникнути обрізання */
  padding: 20px; /* Відступи для мобільних */
  text-align: center;
}

.photo {
  width: 100%; /* Розтягуємо зображення на всю ширину контейнера */
  max-width: 600px; /* Максимальна ширина зображення для великих екранів */
  height: auto; /* Автоматична висота для збереження пропорцій */
}

.text_container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.title {
  font-size: 6vw; /* Адаптується під ширину екрану */
  font-style: italic;
  font-weight: bold;
  color: red;
}

.sub_title {
  font-size: 4vw;
  font-style: italic;
  font-weight: bold;
  color: black;
}

/* Для екранів менше 768px (мобільних) */
@media (max-width: 768px) {
  .title {
    font-size: 36px;
  }

  .sub_title {
    font-size: 24px;
  }

  .photo {
    width: 100%; /* Зображення займає всю ширину екрану на мобільних */
    max-width: 100%; /* Забираємо обмеження по максимальній ширині */
  }
}
