.layout {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 700px;
}

.home_wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}

.photo {
  width: 850px;
  height: 300px;
}

.title {
  position: absolute;
  font-size: 72px;
  font-style: italic;
  font-weight: bold;
  color: red;
}
