/* Основні стилі */
.nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px;
}

.link {
  text-decoration: none;
  color: red;
  font-weight: bolder;
  font-style: italic;
  font-size: 24px;
  margin-right: 170px;
}

.logo {
  padding-right: 10px;
  width: 150px;
}

.hr {
  border: 5px solid red;
}

/* Адаптивні стилі для мобільних пристроїв */
@media (max-width: 768px) {
  .nav {
    flex-direction: column;
    align-items: flex-start; /* Вирівнюємо елементи по лівому краю */
  }

  .link {
    font-size: 18px; /* Зменшуємо шрифт для мобільних пристроїв */
    margin-right: 0; /* Прибираємо зайвий відступ */
    margin-bottom: 15px; /* Додаємо відступи між лінками */
  }

  .logo {
    width: 120px; /* Зменшуємо ширину логотипа на мобільних */
    margin-bottom: 10px; /* Відступ від логотипа */
  }
}
