.nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 150px;
  background-image: linear-gradient(#fff, #a2a4a7);
  padding: 10px;
}

.link {
  text-decoration: none;
  color: rgb(100, 0, 0);
  font-weight: bolder;
  /* font-style: italic; */
  font-size: 24px;
  margin-right: 170px;
  font-family: "Cherry Cream Soda", serif;
}

.link:hover {
  color: #fff;
  background-color: #000;
}

.logo {
  padding-right: 10px;
  width: 150px;
}

.hr {
  border: 5px solid red;
}
