.container {
  width: 100%; /* Full width of the parent */
  height: 100vh;
  max-width: 1200px; /* Maximum width for large screens */
  margin: 0 auto;
  background-image: linear-gradient(#a2a4a7, #fff);
}

.layout {
  /* padding-left: 10px;
  padding-right: 10px;
  padding-top: 10px; */
}
