@import url("https://fonts.googleapis.com/css2?family=Cherry+Cream+Soda&display=swap");
* {
  -webkit-user-select: none; /* Для браузерів на базі WebKit (Chrome, Safari) */
  -moz-user-select: none; /* Для Firefox */
  -ms-user-select: none; /* Для Internet Explorer */
  user-select: none; /* Стандарт для сучасних браузерів */
  font-family: "Cherry Cream Soda", serif;
}
:root {
  font-family: "Cherry Cream Soda", serif;
  font-weight: 400;
  font-style: normal;
  color: rgb(100, 0, 0);
  background-color: #000;
}

a {
  text-decoration: none;
}
